* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins
}

body,
HTML {
    margin: 0;
    width: 100%;
    height: 100%;
}

main {
    max-width: 1400px;
    margin-inline: auto;
    /* height: 600vh; */
    /* overflow-x: hidden; */
}

header {
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    z-index: 100;
    padding-block: 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
}

.left .logo img {
    width: 120px;
}

header .left,
.right,
nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left button {
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-bottom: 5px;
    background: #CAD6EE;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 3px;
}

.left button i {
    font-size: 15px;
}

.right {
    gap: 30px;
}

.right nav ul {
    list-style-type: none;
    gap: 30px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.right nav ul li:hover {
    cursor: pointer;
    color: #E02424;
}

.right .profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile p {
    font-weight: 500;
}

.profile .logo {
    color: #fff;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #D4A486;
}

.left .fa-bars {
    display: none;
    margin-bottom: 5px;
    font-size: 20px;
}

/** responsiveness for  header **/
@media(max-width:900px) {
    header .right nav {
        display: none;
    }

    header .left .fa-bars {
        display: flex;
    }

    header {
        padding-block: 10px;
    }

    .cources {
        margin-left: auto;
    }
}


/** hero section **/
.hero-section {
    /* position: relative; */
    width: 100%;
    margin-inline: auto;
    justify-content: space-between;
    display: flex;
    padding-inline: 80px;
    margin-top: 100px;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: left;
    text-align: left;
    /* border: 1px solid red; */
}

.content h1 {
    font-size: 3vw;
    font-weight: 700;
    line-height: 3.8rem;
}

.content .coloured {
    color: #BE3A47;
}

.content p {
    font-size: 1.5vw;
    padding-block: 20px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.content button {
    width: max-content;
    padding: 10px 20px;
    background: #E20714;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.content button:hover {
    cursor: pointer;
    background: #ce0613;
}

.images {
    width: 50%;
    /* border: 1px solid red; */
    position: relative;
}

.images .img {
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
    background-color: #D6E2FA;
    overflow: hidden;
    margin-left: auto;
    border: 1px solid #E20714;
}

.images .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images .detail {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    /* border: 1px solid red; */
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 25px;
    max-width: 510px;
    position: absolute;
    bottom: 15px;
    background: #ffffffe3;
    margin-left: -150px;
    /* right: 20%; */
    font-weight: 600;
}

.images .tranformation {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
    background: #fff;
    border-radius: 25px;
    /* border: 1px solid red; */
}

.tranformation h3 {
    font-weight: 500;

}

.tranformation::after {
    content: 'Before';
    position: absolute;
    top: 0;
    width: max-content;
    font-weight: 500;
    padding-inline: 10px;
    transform: rotate(-45deg);
    left: -10%;
    background-color: #F9DF80;

}

.tranformation::before {
    content: 'After';
    position: absolute;
    bottom: 0;
    width: max-content;
    font-weight: 500;
    padding-inline: 10px;
    transform: rotate(-45deg);
    right: -10%;
    background-color: #F9DF80;
}

/** hero section responsiveness **/
@media(max-width:990px) {
    .hero-section {
        flex-direction: column;
        margin-top: 50px;
        gap: 50px;
        padding-inline: 20px;
    }

    .content,
    .images {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content h1 {
        line-height: 2.5rem;
    }

    .images .tranformation {
        font-size: 1.5vw;
        left: 0px;
        top: -10px;
    }

    .images .img {
        margin-inline: auto;
    }

    .detail {
        width: 50vw;
        align-items: flex-start;
        /* left: 80px; */
        gap: 1.5vw;
    }

    .detail p {
        font-size: 1.5vw;
        /* font-size: 0.8rem; */
    }

}


/** cources section **/

.carrerpath {
    text-align: center;
    margin-top: 10%;
}

.carrerpath h1 {
    word-spacing: 5px;
}

.courcespap {
    background: #fde8e8;
    display: flex;
    gap: 10px;
    align-items: center;
    width: max-content;
    margin-inline: auto;
    padding: 7px;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.courcespap button {
    border: none;
    border-radius: 25px;
    background: transparent;
    color: #000;
    font-weight: 600;
    padding: 4px 10px;
    font-size: 18px;
}

.courcespap button:nth-child(1) {
    background: #E02424;
    color: #fff;
}

.carrerpath h3 {
    font-weight: 600;
}

.features {
    display: flex;
    margin-block: 30px;
    gap: 20px;
    justify-content: center;
}

.features div {
    display: flex;
    gap: 20px;
    align-items: center;
}

.features div p {
    font-weight: 500;
    text-align: left;
}

.features div svg {
    width: 50px;
    color: #BE3A47;

}

.rolls {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.roll {
    width: 440px;
    padding: 30px 20px;
    gap: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgba(208, 205, 205, 0.655);
    box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}

.roll h2 {
    font-weight: 500;
}

.roll .divider {
    width: 100%;
    border-radius: 50%;
    height: 2px;
    background: rgba(128, 128, 128, 0.486);
    opacity: 0.3;
    margin-top: 10px;
}

.roll .feat {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.roll button {
    width: 100%;
    text-align: center;
    padding-block: 10px;
    border-radius: 10px;
    border: 1px solid #ED0331;
    color: #ED0331;
    background: transparent;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 10px;
}

.roll button:hover {
    cursor: pointer;
    background: #ed284f21;
}

/** responsiveness for cources section  **/

@media (max-width:770px) {
    .rolls {
        flex-direction: column;
        padding-inline: 10px;
    }

    .features {
        padding-inline: 10px;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .roll {
        width: 100%;
    }
    .courcespap button:nth-child(1){
        font-size: 3vw;
    }
}


/** gridlayout page stylling **/
.gridlayout{
    margin-top: 10%;
    padding-inline: 20px;
}
.gridlayout h1{
    text-align: center;
    letter-spacing: 1px;
}
.maingrid{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,300px);
    grid-gap: 40px;
}
.maingrid section{
    border-radius: 25px;
}
.maingrid .sec1{
    overflow: hidden;
    /* border: 1px solid red; */
    background: #C0B3E4;
    color: #3B2871;
    padding-block: 40px;
    text-align: center;
    grid-area: 1 / 1 / 3 /2;
}
.maingrid .sec1 h1{
    background: #C0B3E4;
    line-height: 30px;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 20px;
    z-index: 10;

}

.scroller{
    margin-top: 40px;
    display: flex;
    width: 100%;
    /* height: 100%; */
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    transition: transform 0.25s ease-in-out;
}
.scroller:hover{
    transform: translateY(-150px);
}
.scroller .pacakage{
    width: 300px;
    padding: 10px 30px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
}
.pacakage p{
    font-size: 20px;
    line-height: 20px;
    color: rgb(101, 101, 101);
    font-weight: 600;
}
.pacakage span{
    font-size: 2.5em;
    color: #000;
    font-weight: 700;
}
.maingrid .sec2{
    background: #FFE0EF;
    /* display: flex; */
    /* gap: 20px; */
    overflow: hidden;
    /* border: 1px solid green; */
    grid-area: 1 / 2 / 2 /4;
    
}
.sec2 h1{
    text-align: center;
    color: #3B2871;
    font-style:italic ;
    padding-top: 20px;
    font-size: 2em;
    font-weight: 600;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    padding-inline: 10px;
    /* margin-top: 20px; */
}
.image-container{
    flex-grow: 1;
    width: 150px;
    height: 150px;  
    overflow: hidden;
    flex-grow: 1;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img{
    width: 80%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
    border-radius: 15px;
}
.maingrid .sec3{
    background: #FEEBEF;
    grid-area: 2 / 2 / 3 /3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-block: 40px;
    position: relative;
    overflow: hidden;
}
.sec3 h1{
    font-size: 35px;
    color: #ED0331;
    line-height: 35px;
}
.sec3 span{
    font-size: 5rem;
    font-weight: 700;
}
.sec3 p{
    position: absolute;
    font-size: 6rem;
    bottom: -20px;
    right: -20px;
    transform: rotate(-30deg);
}

.maingrid .sec4{
    background: #FFE799;
    overflow: hidden;
    grid-area: 2 / 3 / 4 /4;
    padding-inline: 10px;
}
.sec4 p{
    color: #997500;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    line-height: 35px;
    font-style: italic;
    padding-block: 3rem;
}
.cards{
    margin-top: 5rem;
    width: max-content;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: transform 5s ease-in-out;
}
.cards:hover{
    transform: translateX(-70%);
}
.card{
    width: 260px;
    
    background: #fff;
    padding:30px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px  ;
}
.card span{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(162, 95, 95, 0.954);
}
.card img{
    height: 150px;
    object-fit: cover;
    width: 100%;
}
.maingrid .sec5{
    /* border: 1px solid black; */
    grid-area: 3 / 1 / 4 /3;
    overflow: hidden;
    background: #D4F5FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
    padding-top: 30px;
    margin-bottom: 50px;
    height: 300px;
}
.sec5 p{
    color: #007DA3;
    font-weight: 600;
    font-size: 2rem;
    line-height: 40px;
}
.sec5 img{
    width: 350px;
    margin-bottom: -80px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


/** grid responsiveness **/
@media(max-width:1020px){
    .maingrid{
        display: flex;
        flex-direction: column;
    }
    .maingrid section{
        width: 100%;
    }
    .cards{
        margin-top: 0;
        margin-bottom: 50px;
    }
}

@media (max-width:740px){
    .sec5 p{
        font-size:1.5rem ;
        line-height: normal;
    }
    .sec5{
        flex-direction: column;
        height: max-content;
        gap:20px;
    }
}


/** studentcreatingimpact section  **/

.studentcreatingimpact{
    padding-block: 5rem;
    padding-inline: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    background: #F9F9F9;
    border-radius: 25px;
}
.video{
    width: 50%;
}
.video video{
    border: 1px solid gray;
    width: 90%;
    /* height: 335px; */
    border-radius: 25px;
    object-fit: cover;
}
.wording h1{
    font-size: 2.5rem;
    line-height: 45px;
    opacity: 0.8;
}
.wording p{
    font-size: 20px;
    color: rgb(72, 72, 72);
    font-weight: 500;
}
.wording{
    margin-bottom: 30px;
}
.quote button{
    border: 1px solid #E02424;
    background: transparent;
    padding: 10px 20px;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 15px;
    color: #E02424;
    cursor: pointer;
}
.quote button:hover{
    background: #ea676729;
}
.quote{
    margin-top: -50px;
}

/** student impact responsivenesss **/
@media (max-width:1110px){
    .studentcreatingimpact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .quote{
        margin-top: 0;
    }
    .quote button{
        display: none;
    }
    .wording p{
        display: none;
    }
    .wording h1{
        font-size: 20px;
        text-align: center;
        line-height: normal;

    }
    .video,.video video{
        width: 100%;
        height: auto;
    }
}

.allreviews{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5% ;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 20px;
}
.review{
    margin-inline: auto;
    width: 440px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.05s ease-in-out;
}
.review:hover{
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);

}
.review .manreview{
    padding-block: 10px;
    font-size: 14px;
    margin-left: 10px;
}
.about{
    margin-left: 10px;
}
.about p:nth-child(1){
    font-weight: 600;
}
.about p:nth-child(2){
    font-size: 14px;
}
.review img{
    width: 100px;
}



/** award winning at delhi convocation **/
.awardwinning{
    margin-top: 5%;
    background: #ebf9fa;
    max-width: 90%;
    margin-inline:auto;
    overflow: hidden;
    display: flex;
    padding: 3rem 0 20px 3rem;
    border-radius: 25px;
    gap:20px
}
.awardwinning:hover .arrow{
    transform: rotate(-30deg);
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left h1{
    line-height: 40px;
    font-size: 2.1rem;
    color: #24888F;
}
.left p{
    color: #764D4F;
    font-weight: 500;
}
.left .arrow{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
}
.arrow i{
    font-size: 25px;
    color:#24888F
}
.imgscroller{
    display: flex;
    margin-right: -300px;
    gap:10px
}
.imgscroller img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

/** part of tech community **/

.partoftechcomm{
    background: #B7B8E5;
    max-width: 80%;
    border-radius: 25px;
    margin-left: 70px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}
.partoftechcomm h1{
    color: #3B2871;
    margin-inline: 20px;
    margin-bottom: 20px;
}
.partoftechcomm button{
    margin-inline: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000;
    color:#000;
    text-transform: uppercase;
    background: transparent;
    font-size: 20px;
    border-radius: 5px;
}
.imgsec{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 210px;
    gap: 10px;
}
.imgsec img{
    display: flex;
    width: 300px;
}
.imgwrapp{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


footer{
    background: #0A0103;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    margin-top: 10%;
    /* height: 50vh; */
}

footer .top{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-block: 20px;
    gap: 20px;
}
footer .top button{
    border: none;
    outline: none;
    background: #C81E1F;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
footer .bottom{
    width: 80%;
    margin-inline: auto;
}
hr{
    opacity: 0.4;
    border-radius: 50%;
}
.bottom .bottop{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
    >.links{
        display: flex;
        align-items: center;
        gap: 3vw;
        >p{
            opacity: 0.6;
        }
        >a{
            font-size: 25px;
            >i{
                color:#fff;
                opacity: 0.4;
            }
        }
    }
    
}
.bottom .sections{
    display: flex;
    padding-block: 30px;
    justify-content: space-between;
    align-items: flex-start;
    >section ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 20px;
        >li{
            color: #fff;
            cursor: pointer;
            font-size: 15px;
        }
        >li:hover{
            color: #C81E1F;
        }
    }
}

.bottom .copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-block: 20px;
    >p{
        opacity: 0.7;
    }
    >span{
        font-size: 12px;
        text-decoration: underline;
        opacity: 0.5;
    }

}
